.myBackground{
    background-color: #f9cd9f;
}
.myBackground2{
    background-color: #faece9;
}
.brownBackground{
    background-color: #734933;
    color: white;
}
.primary-text{
    color: #f9cd9f !important;
    font-weight: bold;
}
.secondary-text{
    color: #faece9 !important;
    font-weight: bold;
}
.brown-text{
    color: #734933 !important;
    font-weight: bolder;
}
.brown-text-border{
    text-shadow: -1px 1px 0 #734933,
                1px 1px 0 #734933,
                1px -1px 0 #734933,
                -1px -1px 0 #734933;
}
.primary-text-border{
    text-shadow: -1px 1px 0 #f9cd9f,
                1px 1px 0 #f9cd9f,
                1px -1px 0 #f9cd9f,
                -1px -1px 0 #f9cd9f;
}
.right-border{
    border-right: black solid 3px;
}
.home-banner{
    background: url("../static/banner.jpg") no-repeat;
    background-size:100%;
    padding: 16.5%;
}
.sub-banner{
    background: url("../static/banner.jpg") no-repeat;
    background-size:100%;
    padding: 14%;
}
.myButton{
    background-color: #734933;
    color: white;
}
.serif{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}