{% extends 'base.html' %}
{% block title %}About Us{% endblock %}

{% block content %}
<div class="sub-banner">
    <h1 class="text-center primary-text" style="font-size: 2.5em; text-shadow: 3px 3px black;"><b>About Us</b></h1>
</div>
<!-- Who We Are -->
<div class="bg-white">
    <div class="container p-5">
        <div class="row pt-3">
            <div class="col-md-8 text-center ">
                <h1 class="brown-text"><u>Who We Are</u></h1>
                <h4 class="pt-4">Bridgett R. Hunt is the proud owner of {{ name }}. Mrs. Hunt has many years in the areas of decorating and planning events. Mrs. Hunt has finally put her dream to fruition by doing what she loves most: helping others create memories for a lifetime! Mrs. Hunt has built personal relationships with local vendors so that she can provide you with a personable and unique experience!</h4>
            </div>
            <div class="col-md-4 text-center">
                <img src="{{ url_for('static', filename='portrait.png') }}" class="mt-3 rounded-lg img-fluid" style="border: 3px solid #734933" alt="Bridgett Hunt Picture">
            </div>
        </div>
    </div>
</div>
<!-- History -->
<div class="container p-5">
    <div class="row mt-3 pb-3">
        <div class="col-md-12">
            <h1 class="brown-text text-center"><u>History</u></h1>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-md-6">
            <h5>{{ name }} started with many requests from family and friends wanting Mrs. Hunt to coordinate important events. It started with small events and eventually morphed into weddings and retirements ceremonies. Most of the reviews received emphasized quality and cost. As one client stated, "I can't believe the quality of service I received for the cost."</h5>
        </div>
        <div class="col-md-6">
            <h5>Mrs. Hunt's inspiration comes from the latest trends, customer's visions and her desire to make each event unique and catered to each client's wants and desires. The name, <i>Rowland Hills,</i> derived from her father whom she never met. Mrs. Hunt inherited his passion for planning and catering as he had the opportunity to cater for former President Jimmy Carter and State Troopers.</h5>
        </div>
    </div>
</div>
<!-- Select Event Inquiry -->
<div class="bg-white">
    <div class="container p-5">
        <div class="row pt-3 pb-3">
            <div class="col-md-6">
                <h1 class="brown-text"><u>Have An Event In Mind?</u></h1>
                <h5>Do you already have a basic idea of an event you would like to host with us? Do you want to incorporate decor, catering, or both? Fill out the Event Inquiry with these questions in mind and make us your go-to for any event planning!</h5>
            </div>
            <div class="col-md-6 text-center mt-5">
                <a href="{{ url_for('event_inquiry') }}"><button class="btn myButton rounded-pill p-3 pl-5 pr-5">Event Inquiry</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}