{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="home-banner"></div>
<!-- Services Section -->
<div class="bg-white">
    <div class="container p-5">
        <div class="row justify-content-center">
            <h1 class="brown-text pt-4">Services</h1>
        </div>
        <div class="row justify-content-center">
            <h5>Take a look at what we can do for you</h5>        
        </div>
        <div class="row pt-5 pb-3">
            <div class="col-md-4 text-center">
                <i class="far fa-check-circle fa-5x brown-text"></i>
                <h3 class="brown-text">All Inclusive</h3>
                <p>Decor, Catering, the whole nine-yards</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="far fa-chair fa-5x brown-text"></i>
                <h3 class="brown-text">Decor Only</h3>
                <p>Wanting only Decor? No problem!</p>
            </div>
            <div class="col-md-4 text-center">
                <i class="far fa-utensils fa-5x brown-text"></i>
                <h3 class="brown-text">Catering Only</h3>
                <p>Wanting only Catering? Make it so!</p>
            </div>
        </div>
    </div>
</div>
<!-- Who We Are Section-->
<div class="container p-5">
    <div class="row justify-content-center">
        <h1 class="brown-text pt-4">Who We Are</h1>
    </div>
    <div class="row pt-5 pb-5">
        <div class="col-md-8">
            <h4>Bridgett R. Hunt is the proud owner of {{ name }}. Mrs. Hunt has many years in the areas of decorating and planning events. Mrs. Hunt has finally put her dream to fruition by doing what she loves most: helping others create memories for a lifetime! Mrs. Hunt has built personal relationships with local vendors so that she can provide you with a personable and unique experience!</h4>             
            <h4><a href="tel:478-397-3012">Give me a call</a> today for more information about what I can do to make your dream wedding or event come true! Or fill out our  <a href="{{ url_for('event_inquiry') }}">event inquiry</a> form for a quicker start to planning your event! </h4>           
        </div>
        <div class="col-md-4 text-center">
            <img src="{{ url_for('static', filename='portrait.png') }}" class="rounded-circle img-fluid" style="border: 3px solid black" alt="Staff Picture">
        </div>
    </div>
</div>
<!-- Testimonials -->
<div class="bg-white">
    <div class="container p-5">
        <div class="row justify-content-center">
            <h1 class="brown-text pt-4">Testimonials</h1>
        </div>
        <div class="row justify-content-center pb-3">
            <h5>See what others have said!</h5>
        </div>
        <div class="row pt-5 pb-5">
            <div class="col-md-4 mt-2">
                <div class="card">
                    <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
                    <div class="card-footer">- John Doe</div>
                </div>
            </div>
            <div class="col-md-4 mt-2">
                <div class="card">
                    <div class="card-body">Illo, vero accusantium itaque delectus doloremque minima accusamus recusandae expedita saepe repudiandae rem laboriosam quo tenetur, ducimus pariatur aperiam perspiciatis quidem veniam!</div>
                    <div class="card-footer">- Oliver Queen</div>
                </div>
            </div>
            <div class="col-md-4 mt-2">
                <div class="card">
                    <div class="card-body">Rem sequi tenetur officia veritatis rerum suscipit soluta blanditiis non iste ab, temporibus quae odit consequuntur aut aspernatur veniam cum, animi in.</div>
                    <div class="card-footer">- Jane Doe</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Get In Touch Section -->
<div class="container p-5">
    <div class="row justify-content-center">
        <h1 class="brown-text pt-4">Get In Touch</h1>
    </div>
    <div class="row justify-content-center p-3 pb-4">
        <form action="https://formspree.io/xbjpjgvw" method="POST">
            <div class="form-group">
                <input type="text" required class="form-control-lg" placeholder="Email" name="_replyto">
            </div>
            <div class="form-group">
                <input type="text" required class="form-control-lg" placeholder="Name" name="Name">
            </div>
            <input type="hidden" name="_subject" value="More Information please?" />
            <div class="form-group text-center">
                <button class="btn brownBackground rounded-pill p-2 pl-5 pr-5" type="submit">Send</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}