{% extends 'base.html' %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="home-banner"></div>
<!-- Services Section -->
<div class="bg-white">
    <div class="container p-5">
        <div class="row justify-content-center">
            <h1 class="brown-text pt-4">Services</h1>
        </div>
        <div class="row justify-content-center">
            <p>Take a look at what we can do for you</p>        
        </div>
        <div class="row pt-5 pb-3">
            <div class="col-md-4 text-center">
                <img src="{{ url_for('static', filename='placeholder.png') }}" class="rounded-circle" style="height:50%" alt="All Inclusive Icon">
                <h3 class="brown-text">All Inclusive</h3>
                <p>Decor, Catering, the whole nine-yards</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="{{ url_for('static', filename='placeholder.png') }}" class="rounded-circle" style="height:50%" alt="Decor Only Icon">
                <h3 class="brown-text">Decor Only</h3>
                <p>Wanting only Decor? No problem!</p>
            </div>
            <div class="col-md-4 text-center">
                <img src="{{ url_for('static', filename='placeholder.png') }}" class="rounded-circle" style="height:50%" alt="Catering Only Icon">
                <h3 class="brown-text">Catering Only</h3>
                <p>Wanting only Catering? Make it so!</p>
            </div>
        </div>
    </div>
</div>
<!-- Who We Are Section-->
<div class="container p-5">
    <div class="row justify-content-center">
        <h1 class="brown-text pt-4">Who We Are</h1>
    </div>
    <div class="row pt-5 pb-5">
        <div class="col-md-6">
            <h5>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Velit vel excepturi voluptatibus nobis et modi exercitationem quis repudiandae libero, officiis fuga? Dolorem eius laboriosam optio asperiores tempore. Beatae, debitis quae! Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis maxime impedit, optio, accusantium iure quos alias obcaecati consectetur corrupti explicabo dignissimos culpa ex! Iste amet numquam tempore consequuntur, similique quas?</h5>            
        </div>
        <div class="col-md-6 text-center">
            <img src="{{ url_for('static', filename='placeholder.png') }}" class="rounded img-fluid" style="width:400px; height: 300px; border: 3px solid black" alt="Staff Picture">
        </div>
    </div>
</div>
<!-- Testimonials -->
<div class="bg-white">
    <div class="container p-5">
        <div class="row justify-content-center">
            <h1 class="brown-text pt-4">Testimonials</h1>
        </div>
        <div class="row justify-content-center pb-3">
            <p>See what others have said about us!</p>
        </div>
        <div class="row pt-5 pb-5">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. </div>
                    <div class="card-footer">- John Doe</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">Illo, vero accusantium itaque delectus doloremque minima accusamus recusandae expedita saepe repudiandae rem laboriosam quo tenetur, ducimus pariatur aperiam perspiciatis quidem veniam!</div>
                    <div class="card-footer">- Oliver Queen</div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">Rem sequi tenetur officia veritatis rerum suscipit soluta blanditiis non iste ab, temporibus quae odit consequuntur aut aspernatur veniam cum, animi in.</div>
                    <div class="card-footer">- Jane Doe</div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Get In Touch Section -->
<div class="container p-5">
    <div class="row justify-content-center">
        <h1 class="brown-text pt-4">Get In Touch</h1>
    </div>
    <div class="row justify-content-center p-3 pb-4">
        <form action="https://formspree.io/myybgkvj" method="POST">
            <div class="form-group">
                <input type="text" class="form-control-lg" placeholder="Email" name="_replyto">
            </div>
            <div class="form-group">
                <input type="text" class="form-control-lg" placeholder="Name" name="_name">
            </div>
            <div class="form-group text-center">
                <button class="btn brownBackground rounded-pill p-2 pl-5 pr-5" type="submit">Send</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}